@import url("menu.css");

.logo_top_left
{
    padding: 0;
    margin: 0;
    background: url(images/logo_top_left.png) no-repeat top left;
    height: 23px;
}
.logo_top_right
{
    padding: 0;
    margin: 0;
    background: url(images/logo_top_right.png) no-repeat top right;
}
.logo_top_bg
{
    padding: 0;
    margin: 0 39px 0 27px;
    background: #FFF url(images/logo_top_bg.png) repeat-x top;
    height: 23px;
}
.logo_left
{
    padding: 0;
    background: url(images/logo_left.png) repeat-y top left;
}
.logo_right
{
    padding: 0;
    background: url(images/logo_right.png) repeat-y top right;
}
.logo_pad
{
    background: #FFF;
    margin: 0 19px 0 7px;
    padding: 0 0 10px 10px;
    height: 100%;
}

.menu_bg
{
    background: url(  "images/menu_bg.png" ) repeat scroll left top transparent;
    margin: 0 21px 0 9px;
    padding: 0 0 0 6px;
    position: relative;
    z-index: 500;
}
.menu_left
{
    background: url(  "images/menu_left.png" ) repeat-y scroll left top transparent;
    margin: 0;
    padding: 0;
}
.menu_right
{
    background: url(  "images/menu_right.png" ) repeat-y scroll right top transparent;
    margin: 0;
}
.bread_bg
{
    background: url(  "images/bread_bg.png" ) repeat-x scroll left top transparent;
    height: 34px;
    margin: 0 19px 0 7px;
    padding: 0;
    font-size: 12px;
}
.bread_left
{
    background: url(  "images/bread_left.png" ) no-repeat scroll left top transparent;
    height: 34px;
    margin: 0;
    padding: 0;
}
.bread_right
{
    background: url(  "images/bread_right.png" ) no-repeat scroll right top transparent;
    height: 34px;
    padding: 0;
}

.bot_left
{
    background: url(  "images/bot_left.png" ) no-repeat scroll left top transparent;
    margin: 0;
    padding: 0;
}
.bot_right
{
    background: url(  "images/bot_right.png" ) no-repeat scroll right top transparent;
    margin: 0;
    padding: 0 39px 0 27px;
}
.bot_bg
{
    background: url(  "images/bot_bg.png" ) repeat-x scroll left top transparent;
    height: 41px;
    margin: 0;
    padding: 0;
}
#bread_style
{
    color: #000000;
    float: left;
    line-height: 34px;
    padding-left: 18px;
}
.Breadcrumb, a.Breadcrumb:link, a.Breadcrumb:active, a.Breadcrumb:visited
{
    color: #3E81B5;
}
a.Breadcrumb:hover
{
    color: #CC0000;
}
.clear_float
{
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0;
}
#login_style
{
    float: right;
    padding: 8px 17px 0 10px;
}
